{% extends 'base.html.twig' %}

{# {% block carousel %}{% endblock %} #}

{% block content %}
        <div class="wrapper">
        
        {# TODO: Optimiser la qualité vidéo #}
        <div class="hero">
            <video poster="{{ asset('assets/img/fargouinette_poster.png') }}" autoplay playsinline loop muted  src="{{ asset('assets/videos/videofargouinette.mp4') }}"></video>

            <div class="hero-content">
                <h1 class="mb-5">La Fargouinette</h1>
                <p>Huile d'olive A.O.P | Les Baux de Provence</p>
            </div>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="container mt-5">

        <!-- START THE FEATURETTES -->

        <div class="row featurette align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Nichée sur les hauts de Fontvieille,<span class="text-muted"> en plein coeur du parc naturel des Alpilles, </span></h2>
                <p class="lead"> <strong>l'oliveraie de la Fargouinette</strong> est idéalement placée au sein du domaine d'Appellation d'Origine Protégée (AOP) des Baux de Provence, dont l'huile d'olive est mondialement reconnue pour sa qualité.</p>
            </div>
            <div class="col-md-5">
                <img class="img-thumbnail" src="{{ asset('assets/img/img1.png') }}" alt="image-1">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">La qualité A.O.P<span class="text-muted">, pour un goût unique.</span></h2>
                <p class="lead">Avec un domaine d'une centaine de pieds seulement, de variétés Salonenque et Grossane, exploités naturellement et sans aucun pesticides, l'huile d'olive de la Fargouinette est un produit rare au goût exceptionnel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-thumbnail" src="{{ asset('assets/img/img2.png') }}" alt="image-2">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Lorem ipsum, dolor sit. <span class="text-muted">Amet.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="" alt="">
                 <img class="img-thumbnail" src="{{ asset('assets/img/img3.png') }}" alt="image-3">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        
        </div>
{% endblock %}
